@page "/details/{id:int}"

@using BlazorDemoSap1.Client.Models


<h3>DetailsProduct</h3>
<h5>Id : @Id</h5>

@if( product != null || product?.Quantity > 0)
{
    <h4>@product.Name</h4>
    <p>@product.Description</p>
    <p>@product.Price</p>
    <p>@product.Category</p>
    <p>@product.Id</p>
}
else
{
    <p>Ce produit est indisponible</p>
}

@code {

    // Parameter sera utilsié egalement pour la recuperation de valeur depuis la route
    [Parameter]
    public int Id { get; set; }

    [Inject]
    public NavigationManager _nav { get; set; }

    public Product? product { get; set; } = new();

    public List<Product> products = new()
        {
            new Product
            {
                Id = 1,
                Name = "Apple iPhone 14 Pro Max",
                Description = "The iPhone 14 Pro Max is the latest flagship smartphone from Apple, featuring a stunning design, powerful performance, and advanced camera capabilities. With its large display, long battery life, and cutting-edge technology, the iPhone 14 Pro Max offers an exceptional user experience for those seeking the best in mobile technology.",
                Category = "Smartphones",
                Price = 1099.99,
                Quantity = 0
            },
            new Product
            {
                Id = 2,
                Name = "Samsung Galaxy S23 Ultra",
                Description = "The Samsung Galaxy S23 Ultra is a high-end smartphone that combines sleek design with powerful performance. It features a large, vibrant display, advanced camera system, and long-lasting battery life. With its cutting-edge technology and innovative features, the Galaxy S23 Ultra offers an exceptional user experience for those seeking the best in mobile technology.",
                Category = "Smartphones",
                Price = 1199.99,
                Quantity = 50
            },
            new Product
            {
                Id = 3,
                Name = "Google Pixel 7 Pro",
                Description = "The Google Pixel 7 Pro is a premium smartphone that offers a sleek design, powerful performance, and advanced camera capabilities. With its large display, long battery life, and cutting-edge technology, the Pixel 7 Pro provides an exceptional user experience for those seeking the best in mobile technology.",
                Category = "Smartphones",
                Price = 899.99,
                Quantity = 100
            }
        };


    protected override void OnInitialized()
    {
        product = products.FirstOrDefault(p => p.Id == Id);

        if(product == null || product.Quantity <= 0)
        {
            _nav.NavigateTo("/binding");
        }
    }
}
