@page "/formulaires"
@using BlazorDemoSap1.Client.Models
@rendermode InteractiveAuto

<h3>Formulaires</h3>
@* Edit form donne àccès a des paramètres comme OnValidSubmit *@
@* Model permet de savoir quel est le model pour les verification (DataAnnotation)*@
<EditForm Model="@ProductToAdd" OnValidSubmit="SubmitForm" >

    @*Precise qu'on utilise les dataAnnotations du modele*@
    <DataAnnotationsValidator/>
    @*Affiche les message d'erreurs en haut du formulaire*@
    <ValidationSummary/>

    <div>
        <label>Name</label>
        @*@bin-value : permet de lié l'input au champ *@
        <input @bind-value="@ProductToAdd.Name"/>
        @*Affiche un message d'erreur sur chaque champs*@
        <ValidationMessage For="@( ()=> ProductToAdd.Name )"/>
    </div>

    <div>
        <label>Description</label>
        <input @bind-value="@ProductToAdd.Description"/>
    </div>

    <div>
        <label>Price</label>
        <input @bind-value="@ProductToAdd.Price" />
    </div>

    @* Le type submit permet de declencher la methode associé à la balise EditForm*@
    <button type="submit">Submit</button>

</EditForm>

<div>
    <h3>@ProductAfterForm.Name</h3>
    <p>@ProductAfterForm.Description</p>
    <p>@ProductAfterForm.Price</p>
</div>

@code {
    public AddProduct ProductToAdd { get; set; } = new AddProduct();

    public AddProduct ProductAfterForm { get; set; } = new AddProduct();

    public void SubmitForm()
    {
        ProductAfterForm = ProductToAdd;
    }
}